body {
    font-family: Lato;
    Color: black;
    overflow-x: hidden;
    background-color: #323232;  
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
    color: white;
}

a:hover { 
    text-decoration: none; 
}
button:focus { 
    outline: none; 
}

p, address {
  color: #666;
  line-height: 1.9;    
}

address { max-width: 400px; }
ul, i { color: #666; }
ul { line-height: 2; }

h2 {
    background: #2d3436;
}

h3 {
    color: white;
    font-weight: 400;
}
.fa-plus {
    color: #323232;
    margin-left: 2px;
    margin-right: 3px;
    font-size: 1.5rem;
    padding: 0;
}
.tm-site-header {
    background-color: #474849;
    background-image: url(../img/stripe.png);
    height: 45px;    
}

.tm-site-header-overlay {
    color: white;
    background-color: #656667;    
    padding-top: 15px; 
}

.tm-header-stripe {
    height: 15px;
    width: 68.75%;
    background-color: #474849;      
    background-image: url(../img/stripe-short.png);
}

.tm-header-stripe-short {
    width: 62%;
    margin-top: 10px;  
}

.tm-site-header-left { 
    padding-bottom: 0px; 
}

.tm-site-header-right {
    padding-top: 25px;
    padding-bottom: 10px;
}

.tm-site-name { 
    font-size: 2.15rem; 
}

.tm-site-desc { 
    font-size: 1.2rem; 
}

.nav-item {  
  font-size: 1.25rem;
  /* transform: skew(-20deg, 0); */
  transition: all 0.425s ease;
  margin-right: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  padding: 3px 20px;      
  /* transform: skew(20deg, 0); */
}

.nav-item.active,
.nav-item:hover {
  /* background-color: #474849; */
  border-bottom: 2px solid white;
  border-width: 4.25px;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: white;
}

.parallax-window {
    min-height: 50vh;
    background: transparent;
    /* background: url(../img/background.jpg); */

}

.text-box{
	height: 600px;
	padding: 50px;
}

#in-parallax-heading, #in-parallax-text {
    padding-left: 10px;
    position: absolute;
    color: white;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#in-parallax-text {
    top: 60%;
    font-size: 1.25rem;
}

#welcome-section {
    background: #2c3e50;
}
#welcome-design {
    height: 82vh;
}

section .project-title {
    font-size: 2.5rem;
    height: 120px;
    margin: 0 auto;
    clear: none;
    font-weight: 400;
}

.idea-from {
    font-size: 0.90rem;
    color: rgba(142, 68, 173, 1);
    font-weight: 400;
}

#projects p {
    color: white;
}

#projects {
    /* background: rgba(69, 69, 122, 0.699); */
    /* background: #b2bec3; */
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 9%, rgba(44,44,44,1) 10%, rgba(58,58,58,1) 13%, rgba(89,89,89,1) 20%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 56%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(9%, rgba(76,76,76,1)), color-stop(10%, rgba(44,44,44,1)), color-stop(13%, rgba(58,58,58,1)), color-stop(20%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(56%, rgba(0,0,0,1)), color-stop(65%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 9%, rgba(44,44,44,1) 10%, rgba(58,58,58,1) 13%, rgba(89,89,89,1) 20%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 56%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 9%, rgba(44,44,44,1) 10%, rgba(58,58,58,1) 13%, rgba(89,89,89,1) 20%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 56%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 9%, rgba(44,44,44,1) 10%, rgba(58,58,58,1) 13%, rgba(89,89,89,1) 20%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 56%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 9%, rgba(44,44,44,1) 10%, rgba(58,58,58,1) 13%, rgba(89,89,89,1) 20%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 56%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

section div .div-size {
    height: 30rem;
    width: 100%;
    margin-bottom: 180px;
}

.image-resize {
    width: 100%;
    height: 100%;
}

#go-top {
    color: black;
}

/* .scrolling {
     background: #aa5ba0 !important;
     transition: background 500ms;
 } */

 #navbar-header {
    font-size: 1.5rem;
}

thead {
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(left, rgba(147,206,222,1) 19%, rgba(143,204,220,1) 23%, rgba(117,189,209,1) 53%, rgba(97,178,201,1) 74%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(19%, rgba(147,206,222,1)), color-stop(23%, rgba(143,204,220,1)), color-stop(53%, rgba(117,189,209,1)), color-stop(74%, rgba(97,178,201,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 19%, rgba(143,204,220,1) 23%, rgba(117,189,209,1) 53%, rgba(97,178,201,1) 74%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(left, rgba(147,206,222,1) 19%, rgba(143,204,220,1) 23%, rgba(117,189,209,1) 53%, rgba(97,178,201,1) 74%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(147,206,222,1) 19%, rgba(143,204,220,1) 23%, rgba(117,189,209,1) 53%, rgba(97,178,201,1) 74%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to right, rgba(147,206,222,1) 19%, rgba(143,204,220,1) 23%, rgba(117,189,209,1) 53%, rgba(97,178,201,1) 74%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
    margin-left: 5px;
}

.title:hover {
    background: rgba(147,206,222,1);
    transition: background 1s ease;
} 

td, th {
    padding-left: 10px;
}

#education {
    /* background:#4fbafd; */
    background: #dcdde1;
    /* background: pink; */
    color: black;
    font-size: 1.25rem;
}

.location-name {
    margin-top: 0;
    font-size: .9rem;
    font-weight: 400;
    color: #050505;
}

#my-story {
    margin: 0px 0px;
}

p {
    margin: 15px 0;
    color: gray;
}

#footer {
    background: #34495e;

}

#footer p {
    color: white;
}

i {
    padding-right: 10px;
}

#footer ul {
    margin-top: 20px;
    padding: 0;
}

#footer ul li{
    margin: 0 auto;
    color: white;
    list-style: none;
    display: inline-block;
    margin-right: 10%;
    font-size: 1.35rem;
}

.fa-github-alt,
.fa-linkedin,
.fa-codepen {
    font-size: 3rem;
    color: white;
}

.contact {
    font-size: 1.45rem;
    padding: 10px;
    border-radius: 5%;
    margin-left: 5px;
}

.contact:hover {
    background: #323232;
    color: white;
    transition: background 0.425s ease;
}

@media (max-width: 992px) {
    .tm-site-header-left {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .tm-site-header-right {
        position: absolute;
        right: 0;        
        padding-top: 50px;
        padding-bottom: 0;
    }

    .navbar-toggler {
        margin-left: auto;
        background-color: #656667;
        border-radius: 0;
    }

    .navbar-toggler i { font-size: 1.8rem; }

    .tm-nav {        
        position: relative;
        max-width: 200px;
    }

    #navbarNav {
        position: absolute;
        right: 16px;
        top: 46px;
        z-index: 1000;
    }

    .tm-nav ul {
        background-color: #656667;
        padding-left: 12px;  
        padding-right: 12px;      
    }

    .nav-item {
        margin-right: 0;
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tm-icon-1 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .tm-page-cols-container { flex-direction: column; }
    
    .tm-page-col-left {
      width: 100%;
      max-width: 920px;
      padding-left: 20px;
      padding-right: 20px;      
      margin-left: auto;
      margin-right: auto;
    }
  
    .tm-page-col-right {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    .tm-contact-left,
    .tm-contact-right {
      max-width: 100%;
    }

    .tm-contact-left { margin-bottom: 120px; }
}